.button {
    border: none;
    padding: 0.75rem;
}

.button--primary {
    background-color:#1414b7;
    color: #ffffff;
    font-size: 1.2rem;
    width: 70%;
}

.button--stack {
    display: block;
    margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
    .button--primary {
        width: 80%;
    }
}